body{
  font-size: 10px;
  background: #2693a0;
  padding: 0px;
  margin: 0px;
}


.nome{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 12em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 0.8em;
  color: #fff;
  margin-top: 1em;
}

.job{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: #fff;

}
